<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code">

	<select id="getGrpList" resultType="codevo">
		SELECT grpcd, grpnm 
		FROM comCode 
		WHERE grpnm IS NOT NULL 
		ORDER BY grpcd
	</select>
	
	<select id="getDivList" resultType="codevo">
		SELECT divcd, divnm 
		FROM comCode 
		WHERE divnm IS NOT NULL
		ORDER BY divcd
	</select>
	
</mapper>